<div id="profile">
					<%= image_tag @user.avatar.url %>
					<p>Name: <%=@user.full_name%> </p><br>
					<p>Email: <%=@user.email %> </p></br>
					<p>Facebook: <%=@user.facebook_url%></p></br>
					<p>Gender: <%=@user.gender%></p>		
</div>