<!--Date not saving. Implement room sharing as boolean. Add photos -->
<div class="container">

<%= form_for(@listing) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :start_date %><br>
    <%= f.date_select :start_date %>
  </div>
  <div class="field">
    <%= f.label :end_date %><br>
    <%= f.date_select :end_date %>
  </div>
  <div class="field">
    <%= f.label :price %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label :location %>
    <%= f.text_field :location %>
  </div>
  <div class="field">
    <%= f.label :max_avail %>
    <%= f.number_field :max_avail %>
  </div>
 <!--  <div class="field">
    <%#= f.file_field :photo %>
  </div> -->
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

</div>